@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: aliceblue;
}
.bg-hauptbild {
  background-image: url('/img/WhatsApp\ Bild\ 2023-09-18\ um\ 13.59.05.jpg');
  background-position: center;
  background-size: cover;
}

.fullflex {
  @apply flex justify-center items-center;
}
.scrollable-content {
  overflow-y: auto; /* This allows vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(48, 9, 220) rgb(32, 3, 90); /* For Firefox */
}

/* Style for WebKit browsers (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
  width: 12px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: rgb(38, 39, 86);
  border-radius: 50px;
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: rgb(175, 174, 181);
  border-radius: 50px;
}